
.col-md-12 {
   height:100vh;
   width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    align-items: center;
}

.cards{
    background-color: white;
    border-radius: 50%;
}
#images{
    border-radius:100%;
}
#food{
    width: 100%;
    object-fit: cover;
}
.imgbaner{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    
}

.header-background2{
  background-image: url("../src/img/Captura\ desde\ 2024-01-23\ 19-14-28.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.down.col-md-3{
    height: 80%;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 100%;
  }
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
.col-md-9{
    background-color: rgb(179, 179, 179);
}
  
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  
#btn4 {
    background-color: #64875c;
    border: none;
    margin: 5%;
  }
  
.cardTitle{
    font-size: 24px;
    color: #301500;
  }

.white{
    background-color: white;
    height: 70px;
    width: 100%;

}