.header-background2{
  background-image: url("../src/img/backgroundHeader2.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#images{
  border-radius:100%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 100%;
}

.pagination a.active {
  background-color: #64875c;
  color: white;
}

#btn4 {
  background-color: #64875c;
  border: none;
  margin: 5%;
}

.cardTitle{
  font-size: 24px;
  color: #301500;
}

.overlayDos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#barra{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
}

hr{
  border: solid 2px #ccc;
}

#imgGeneral{
  border-radius: 2rem;
}

#btn6{
  background-color: #64875c;
  width: 40%;
  color: #fff;
}

#btn6:hover{
  transform: scale(1.03);
}