.container.butons{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.button-container button {
    margin-right: 20px;
  }
.boton1{
    margin: 100px;
    padding: 100px;
    display: flex;
}